<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
    window.currentUser = <%= render("api/users/user.json.jbuilder",
      user: current_user).html_safe %>
  </script>

<% end %>

<script>
  window.images = ({
    camera: "<%= asset_path('camera-retro-solid.svg') %>",
    heart: "<%= asset_path('heartbeat-solid.svg') %>",
    person: "<%= asset_path('user-alt-solid.svg') %>",
    line: "<%= asset_path('grip-lines-vertical-solid.svg') %>",
    compass: "<%= asset_path('compass-regular.svg') %>",
    chuck: "<%= asset_path('CHUCK.jpg') %>",
    upload: "<%= asset_path('upload-solid.svg') %>",
    one: "<%= asset_path('1.jpg') %>",
    two: "<%= asset_path('2.jpg') %>",
    three: "<%= asset_path('3.jpg') %>",
    four: "<%= asset_path('4.jpg') %>",
    five: "<%= asset_path('5.jpg') %>",
    nextPost: "<%= asset_path('arrow-circle-right-solid.svg') %>",
    previousPost: "<%= asset_path('arrow-circle-left-solid.svg') %>",
    nextImage: "<%= asset_path('arrow-right-solid.svg') %>",
    previousImage: "<%= asset_path('arrow-left-solid.svg') %>",
  })
</script>
<main id="root"></main>