<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
    window.currentUser = <%= render("api/users/user.json.jbuilder",
      user: current_user).html_safe %>
  </script>

<% end %>

<script>
  window.images = ({
    camera: "<%= asset_path('camera-retro-solid.svg') %>",
    heart: "<%= asset_path('heartbeat-solid.svg') %>",
    person: "<%= asset_path('user-alt-solid.svg') %>",
    line: "<%= asset_path('grip-lines-vertical-solid.svg') %>",
    compass: "<%= asset_path('compass-regular.svg') %>"
  })
</script>
<main id="root"></main>